ion-content {
    --background: #000000;
    background: radial-gradient(circle at center, #1a1a1a 0%, #000000 100%);
}

.container-welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Espalha o conteúdo (topo, meio e baixo)
    align-items: center;
    height: 100%;
    padding: 60px 30px;
    text-align: center;
}

.header-section {
    h3 {
        color: rgba(255, 255, 255, 0.6);
        font-family: monospace;
        font-size: 1.1rem;
        letter-spacing: 3px;
        margin-bottom: 5px;
    }

    h1 {
        color: #ffffff;
        font-family: monospace;
        font-weight: 800;
        font-size: 2.2rem;
        margin: 0;
        letter-spacing: 1px;

        span {
            color: #6803c7;
        }

        // Dá destaque ao "OFFERS"
    }
}

.logo-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 280px;
        height: auto;

        animation: pulse 4s infinite ease-in-out;

    }
}

.footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    ion-button {
        height: 55px;
        font-family: monospace;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 0;
    }

    .btn-primary {
        --background: #6803c7;
        --border-radius: 12px;
        box-shadow: 0 4px 15px rgba(104, 3, 199, 0.4);
    }

    .btn-secondary {
        --color: #ffffff;
        --border-color: rgba(255, 255, 255, 0.2);
        --border-radius: 12px;
    }

    .version {
        color: rgba(255, 255, 255, 0.2);
        font-size: 0.7rem;
    }
}