<ion-content [fullscreen]="true">

  <div id="perfil-header">
    <ion-avatar>
      <img src="../../assets/images/perfil.png" alt="Foto de Perfil">
    </ion-avatar>

    <!-- Aqui a mágica acontece: trocamos o texto fixo pelas variáveis -->
    <h3>{{ nome }}</h3>
    <p>{{ email }}</p>

  </div>

  <div class="botoes-acao">
    <ion-button routerLink="/login" class="btn-opcao">Configuração</ion-button>

    <!-- Trocamos o routerLink pelo (click) chamando a nossa função de Sair -->
    <ion-button (click)="sair()" class="btn-opcao btn-sair">Sair da conta</ion-button>
  </div>

</ion-content>