ion-content {
    --background: black;
}

h3 {
    font-family: monospace;
    margin-top: 15vh;

}

ion-input {
    --highlight-color-focused: #6803c7;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 100vh;

}

ion-item {
    --background: transparent;
    color: white;
    font-family: monospace;
    width: 80%;
    padding-top: 70px;
}

ion-button {
    --highlight-color-focused: #6803c7;
    --background: #6803c7;
    font-family: monospace;
    color: white;
    margin-top: 90px;
    width: 80%;
}