ion-content {
    --background: black;
}

ion-item {
    --background: transparent;

    color: white;
    font-family: monospace;
    width: 90%;
    border-bottom: rgba(255, 255, 255, 0.17) 1px solid;
    margin: 50px auto 0 auto;
}


/* Estilizando o texto que o usuário vai digitar */
.barra-pesquisa ion-input {
    font-family: monospace;
    color: white;
    font-size: 1.1rem;
    --highlight-color-focused: #6803c7;

}

/* Estilizando a Lupa */
.barra-pesquisa ion-icon {
    color: white;
    /* O seu roxo de destaque! */
    font-size: 1.5rem;
}