<ion-content [fullscreen]="true">

  <div id="lancamento">
    <img src="../../assets/images/26b30a7f16b20c714d782e60910788ce.jpg" alt="">
    <div class="info">
      <h5>Lançamento em destaque:</h5>
      <h3>Joguinho1</h3>
      <h4>R$500</h4>
    </div>
  </div>

  <h3>Jogos mais vendidos</h3>
  <div class="listas">
    <div>
      <img src="../../assets/images/f42de69101cc58f6efae923254b34907.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/f42de69101cc58f6efae923254b34907.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/f42de69101cc58f6efae923254b34907.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/f42de69101cc58f6efae923254b34907.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/f42de69101cc58f6efae923254b34907.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/f42de69101cc58f6efae923254b34907.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/f42de69101cc58f6efae923254b34907.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
  </div>


  <div class="tit-list">
    <h3>Terror</h3> <a href="">Ver Mais</a>
  </div>
  <div class="listas">
    <div>
      <img src="../../assets/images/cb20ba0c4b4c6dbdea8724c9a40f3c77.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/cb20ba0c4b4c6dbdea8724c9a40f3c77.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/cb20ba0c4b4c6dbdea8724c9a40f3c77.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/cb20ba0c4b4c6dbdea8724c9a40f3c77.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/cb20ba0c4b4c6dbdea8724c9a40f3c77.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/cb20ba0c4b4c6dbdea8724c9a40f3c77.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/cb20ba0c4b4c6dbdea8724c9a40f3c77.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
  </div>


  <div class="tit-list">
    <h3>Ação</h3> <a href="">Ver Mais</a>
  </div>
  <div class="listas">
    <div>
      <img src="../../assets/images/557bc8721aeb09e0d6ce1088206f462f.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/557bc8721aeb09e0d6ce1088206f462f.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/557bc8721aeb09e0d6ce1088206f462f.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/557bc8721aeb09e0d6ce1088206f462f.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/557bc8721aeb09e0d6ce1088206f462f.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/557bc8721aeb09e0d6ce1088206f462f.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
    <div>
      <img src="../../assets/images/557bc8721aeb09e0d6ce1088206f462f.jpg" alt="">
      <div class="info-jogo">
        <div class="textos">
          <h4>Joguinho2</h4>
          <h5>R$400</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>