<ion-content [fullscreen]="true">

  <!-- BANNER DE DESTAQUE -->
  <div id="lancamento" *ngIf="jogoBanner">
    <img [src]="jogoBanner.background_image" [alt]="jogoBanner.name">
    <div class="info">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h5 style="color: #ffd900f8; font-weight: bold;">DESTAQUE RECENTE</h5>

        <!-- BOTÃO FAVORITO BANNER -->
        <ion-button fill="clear" (click)="toggleFavorito(jogoBanner)">
          <ion-icon slot="icon-only" [name]="jogoBanner.favorito ? 'heart' : 'heart-outline'"
            [color]="jogoBanner.favorito ? 'danger' : 'light'" style="font-size: 28px;">
          </ion-icon>
        </ion-button>
      </div>

      <h3>{{ jogoBanner.name }}</h3>

      <ion-badge color="none">
        {{ jogoBanner.metacritic ? 'Nota: ' + jogoBanner.metacritic : '🔥 Hype' }}
      </ion-badge>
    </div>
  </div>

  <!-- SEÇÃO: MAIS AGUARDADOS -->
  <h3 class="ion-padding-horizontal">🚀 Mais Aguardados</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaAguardados">
      <img [src]="jogo.background_image" [alt]="jogo.name" loading="lazy">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5 style="color: #00e5ff;"> Previsto: {{ jogo.released ? (jogo.released | date:'MMM/yyyy') : 'Em breve' }}
          </h5>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center; gap: 5px;">
          <!-- BOTÃO FAVORITO AGUARDADOS -->
          <ion-button fill="clear" (click)="toggleFavorito(jogo)"
            style="--padding-start: 0; --padding-end: 0; margin: 0;">
            <ion-icon slot="icon-only" [name]="jogo.favorito ? 'heart' : 'heart-outline'"
              [color]="jogo.favorito ? 'danger' : 'light'" style="font-size: 22px;">
            </ion-icon>
          </ion-button>
          <ion-badge color="tertiary">{{ jogo.added | number }} 🔥</ion-badge>
        </div>
      </div>
    </div>
  </div>

  <!-- SEÇÃO: LANÇAMENTOS (EM ALTA) -->
  <h3 class="ion-padding-horizontal">🔥 Lançamentos</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaEmAlta">
      <img [src]="jogo.background_image" [alt]="jogo.name" loading="lazy">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5>Lançamento: {{ jogo.released | date:'yyyy' }}</h5>
        </div>
        <!-- BOTÃO FAVORITO -->
        <ion-button fill="clear" (click)="toggleFavorito(jogo)">
          <ion-icon slot="icon-only" [name]="jogo.favorito ? 'heart' : 'heart-outline'"
            [color]="jogo.favorito ? 'danger' : 'light'">
          </ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

  <!-- SEÇÃO: AÇÃO -->
  <h3 class="ion-padding-horizontal">🎯 Aventuras boas essas</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaAcao">
      <img [src]="jogo.background_image" [alt]="jogo.name" loading="lazy">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5>Nota: {{ jogo.metacritic || 'N/A' }}</h5>
        </div>
        <ion-button fill="clear" (click)="toggleFavorito(jogo)">
          <ion-icon [name]="jogo.favorito ? 'heart' : 'heart-outline'"
            [color]="jogo.favorito ? 'danger' : 'light'"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

  <!-- SEÇÃO: RPG (SHOOTER) -->
  <h3 class="ion-padding-horizontal">⚔️ Um Shooter, se preferir</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaRPG">
      <img [src]="jogo.background_image" [alt]="jogo.name" loading="lazy">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5>Nota: {{ jogo.metacritic || 'N/A' }}</h5>
        </div>
        <ion-button fill="clear" (click)="toggleFavorito(jogo)">
          <ion-icon [name]="jogo.favorito ? 'heart' : 'heart-outline'"
            [color]="jogo.favorito ? 'danger' : 'light'"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

  <!-- SEÇÃO: INDIE -->
  <h3 class="ion-padding-horizontal">👨‍👩‍👧 Só os Indie</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaFamily">
      <img [src]="jogo.background_image" [alt]="jogo.name" loading="lazy">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5>Nota: {{ jogo.metacritic || 'N/A' }}</h5>
        </div>
        <ion-button fill="clear" (click)="toggleFavorito(jogo)">
          <ion-icon [name]="jogo.favorito ? 'heart' : 'heart-outline'"
            [color]="jogo.favorito ? 'danger' : 'light'"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>

</ion-content>