<ion-content [fullscreen]="true">

  <div id="lancamento" *ngIf="jogoBanner">
    <img [src]="jogoBanner.background_image" [alt]="jogoBanner.name">
    <div class="info">
      <!-- Div para alinhar o texto e o coração -->
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h5 style="color: #ffd900f8; font-weight: bold;">DESTAQUE RECENTE</h5>
        <ion-icon name="heart-outline" style="font-size: 24px; color: white;"></ion-icon>
      </div>

      <h3>{{ jogoBanner.name }}</h3>

      <ion-badge color="none">
        {{ jogoBanner.metacritic ? 'Nota: ' + jogoBanner.metacritic : '🔥 Hype' }}
      </ion-badge>
    </div>
  </div>

  <h3 class="ion-padding-horizontal">🚀 Mais Aguardados</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaAguardados">
      <img [src]="jogo.background_image" [alt]="jogo.name">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5 style="color: #00e5ff;"> Previsto: {{ jogo.released ? (jogo.released | date:'MMM/yyyy') : 'Em breve' }}
          </h5>
        </div>

        <!-- Lado direito do card com Ícone + Badge -->
        <div style="display: flex; flex-direction: column; align-items: center; gap: 5px;">
          <ion-icon name="heart-outline" style="font-size: 20px;"></ion-icon>
          <ion-badge color="tertiary">{{ jogo.added | number }} 🔥</ion-badge>
        </div>
      </div>
    </div>
  </div>

  <!-- SEÇÃO 1: EM ALTA (O HYPE REAL) -->
  <h3 class="ion-padding-horizontal">🔥 Lançamentos</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaEmAlta">
      <img [src]="jogo.background_image" [alt]="jogo.name">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5>Lançamento: {{ jogo.released | date:'yyyy' }}</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
  </div>




  <!-- SEÇÃO 2: AÇÃO (Substituindo o Terror que não existia na API) -->
  <h3 class="ion-padding-horizontal">🎯 Aventuras boas essas</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaAcao"> <!-- MUDADO PARA listaAcao -->
      <img [src]="jogo.background_image" [alt]="jogo.name">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5>Nota: {{ jogo.metacritic || 'N/A' }}</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
  </div>

  <!-- SEÇÃO 3: RPG -->
  <h3 class="ion-padding-horizontal">⚔️ Um Shooter, se preferir</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaRPG">
      <img [src]="jogo.background_image" [alt]="jogo.name">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5>Nota: {{ jogo.metacritic || 'N/A' }}</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
  </div>

  <h3 class="ion-padding-horizontal">👨‍👩‍👧 Só os Indie</h3>
  <div class="listas">
    <div class="card-jogo" *ngFor="let jogo of listaFamily">
      <img [src]="jogo.background_image" [alt]="jogo.name">
      <div class="info-jogo">
        <div class="textos">
          <h4>{{ jogo.name }}</h4>
          <h5>Nota: {{ jogo.metacritic || 'N/A' }}</h5>
        </div>
        <ion-icon name="heart-outline"></ion-icon>
      </div>
    </div>
  </div>

</ion-content>